Options -Indexes

RewriteEngine On

RewriteRule ^openapi\.yaml$ openapi.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^commands$ commands.php [NC,L]
RewriteRule ^health$ health.php [NC,L]
RewriteRule ^swagger$ swagger.php [NC,L]
