openapi: 3.0.3
info:
  title: GStraccini Bot API
  description: API for the GStraccini GitHub bot service
  version: __APP_VERSION__
  contact:
    name: Guilherme Branco Stracini
    email: guilherme@guilhermebranco.com.br
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.bot.straccini.com/v1
    description: API v1
tags:
  - name: Health
    description: Service health endpoints
  - name: Commands
    description: Bot commands documentation
  - name: Jobs
    description: Trigger background processing jobs
  - name: Stats
    description: Aggregate usage statistics
  - name: Pending Actions
    description: Actions awaiting attention in the UI (e.g. pull requests ready to merge)
  - name: Notifications
    description: Notifications surfaced to the UI
paths:
  /health/:
    get:
      summary: Health check
      description: Returns the health status of the service
      operationId: getHealth
      tags:
        - Health
      responses:
        '200':
          description: Service is healthy
          content:
            text/plain:
              schema:
                type: string
                example: Healthy
  /commands/:
    get:
      summary: Get bot commands
      description: Returns the list of available bot commands in the specified format
      operationId: getCommands
      tags:
        - Commands
      parameters:
        - name: format
          in: query
          description: Output format for the commands documentation
          required: false
          schema:
            type: string
            enum:
              - markdown
              - simplemd
              - html
              - text
              - json
            default: markdown
      responses:
        '200':
          description: Commands documentation in the requested format
          content:
            text/markdown:
              schema:
                type: string
                example: "## Available Commands\n\n### help\n- **Description**: Shows help"
            text/html:
              schema:
                type: string
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Command'
  /stats/:
    get:
      summary: Get usage statistics
      description: Returns aggregate usage statistics (pull requests, commits, issues, and active repositories) for the installations the given user has access to
      operationId: getStats
      tags:
        - Stats
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          description: GitHub user ID to scope statistics to (via the user's assigned installations)
          schema:
            type: integer
      responses:
        '200':
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
        '400':
          description: Missing or invalid userId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Database not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Database unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jobs/{job}/:
    post:
      summary: Trigger a background job
      description: Fires a background processing job and returns immediately. The job runs asynchronously.
      operationId: triggerJob
      tags:
        - Jobs
      security:
        - ApiKeyAuth: []
      parameters:
        - name: job
          in: path
          required: true
          description: Name of the job to trigger
          schema:
            type: string
            enum:
              - branches
              - comments
              - issues
              - pullRequests
              - pushes
              - repositories
      responses:
        '202':
          description: Job accepted and running in background
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAccepted'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pending-actions/:
    get:
      summary: List unread pending actions
      description: Returns pending actions (e.g. pull requests ready to merge) that have not yet been read, scoped to the installations the given user has access to
      operationId: getPendingActions
      tags:
        - Pending Actions
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          description: GitHub user ID to scope pending actions to (via the user's assigned installations)
          schema:
            type: integer
      responses:
        '200':
          description: List of unread pending actions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingAction'
        '400':
          description: Missing or invalid userId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Database not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Database unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pending-actions/{sequence}/read/:
    post:
      summary: Mark a pending action as read
      description: Flags a pending action as read so it stops showing up in the unread list
      operationId: markPendingActionRead
      tags:
        - Pending Actions
      security:
        - ApiKeyAuth: []
      parameters:
        - name: sequence
          in: path
          required: true
          description: Sequence identifier of the pending action
          schema:
            type: integer
      responses:
        '200':
          description: Pending action marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadAck'
        '400':
          description: Invalid sequence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Pending action not found or already read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notifications/:
    get:
      summary: List unread notifications
      description: Returns notifications that have not yet been read, scoped to the installations the given user has access to
      operationId: getNotifications
      tags:
        - Notifications
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          description: GitHub user ID to scope notifications to (via the user's assigned installations)
          schema:
            type: integer
      responses:
        '200':
          description: List of unread notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
        '400':
          description: Missing or invalid userId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Database not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Database unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notifications/{sequence}/read/:
    post:
      summary: Mark a notification as read
      description: Flags a notification as read so it stops showing up in the unread list
      operationId: markNotificationRead
      tags:
        - Notifications
      security:
        - ApiKeyAuth: []
      parameters:
        - name: sequence
          in: path
          required: true
          description: Sequence identifier of the notification
          schema:
            type: integer
      responses:
        '200':
          description: Notification marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadAck'
        '400':
          description: Invalid sequence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Notification not found or already read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
  schemas:
    Command:
      type: object
      required:
        - command
        - description
      properties:
        command:
          type: string
          description: The command name
          example: help
        description:
          type: string
          description: Description of what the command does
          example: Shows help information
        parameters:
          type: array
          description: List of parameters accepted by the command
          items:
            $ref: '#/components/schemas/CommandParameter'
        requiresPullRequestOpen:
          type: boolean
          description: Whether the command requires an open pull request
          default: false
        dev:
          type: boolean
          description: Whether this is a developer-only command
          default: false
    CommandParameter:
      type: object
      required:
        - parameter
        - description
      properties:
        parameter:
          type: string
          description: The parameter name
          example: repository
        description:
          type: string
          description: Description of the parameter
          example: The repository name
        required:
          type: boolean
          description: Whether the parameter is required
          default: false
    JobAccepted:
      type: object
      properties:
        status:
          type: string
          example: accepted
        job:
          type: string
          example: branches
    Error:
      type: object
      properties:
        error:
          type: string
          example: Unauthorized
    Stats:
      type: object
      properties:
        totalPullRequests:
          type: integer
          example: 31
        pullRequestsMerged:
          type: integer
          example: 22
        commitsAnalyzed:
          type: integer
          example: 81
        issuesClosed:
          type: integer
          example: 11
        averageTimeToMergeHours:
          type: number
          format: float
          example: 3
        activeRepositories:
          type: integer
          example: 6
    PendingAction:
      type: object
      properties:
        sequence:
          type: integer
          example: 42
        repositoryOwner:
          type: string
          example: guibranco
        repositoryName:
          type: string
          example: gstraccini-bot-service
        installationId:
          type: integer
          nullable: true
          example: 12345678
        actionType:
          type: string
          example: pull_request_ready_to_merge
        title:
          type: string
          example: Pull request ready for merge/squash
        description:
          type: string
          nullable: true
          example: "\"Add check-up job\" (#1120) is ready ✅ for merge/squash."
        url:
          type: string
          nullable: true
          example: https://github.com/guibranco/gstraccini-bot-service/pull/1120
        pullRequestId:
          type: integer
          nullable: true
        pullRequestNumber:
          type: integer
          nullable: true
          example: 1120
        pullRequestNodeId:
          type: string
          nullable: true
        isRead:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
    Notification:
      type: object
      properties:
        sequence:
          type: integer
          example: 42
        repositoryOwner:
          type: string
          example: guibranco
        repositoryName:
          type: string
          example: gstraccini-bot-service
        installationId:
          type: integer
          nullable: true
          example: 12345678
        type:
          type: string
          example: pull_request_ready_to_merge
        title:
          type: string
          example: Pull request ready for merge/squash
        message:
          type: string
          example: "\"Add check-up job\" (#1120) is ready ✅ for merge/squash."
        url:
          type: string
          nullable: true
          example: https://github.com/guibranco/gstraccini-bot-service/pull/1120
        pullRequestId:
          type: integer
          nullable: true
        pullRequestNumber:
          type: integer
          nullable: true
          example: 1120
        pullRequestNodeId:
          type: string
          nullable: true
        isRead:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
    ReadAck:
      type: object
      properties:
        status:
          type: string
          example: read
        sequence:
          type: integer
          example: 42
