openapi: 3.0.3
info:
  title: GStraccini Bot API
  description: API for the GStraccini GitHub bot service
  version: __APP_VERSION__
  contact:
    name: Guilherme Branco Stracini
    email: guilherme@guilhermebranco.com.br
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.bot.straccini.com/v1
    description: API v1
tags:
  - name: Health
    description: Service health endpoints
  - name: Commands
    description: Bot commands documentation
  - name: Jobs
    description: Trigger background processing jobs
  - name: Stats
    description: Aggregate usage statistics
  - name: Pending Actions
    description: Actions awaiting attention in the UI (e.g. pull requests ready to merge)
  - name: Notifications
    description: Notifications surfaced to the UI
  - name: Recent Activities
    description: Recent bot activity surfaced to the dashboard
  - name: Account
    description: User profile, preferences, and bot behavior settings
  - name: Integrations
    description: Third-party provider API keys configured by the user
  - name: Auth
    description: Password login, TOTP two-factor authentication, recovery codes, and password reset
paths:
  /health/:
    get:
      summary: Health check
      description: Returns the health status of the service
      operationId: getHealth
      tags:
        - Health
      responses:
        '200':
          description: Service is healthy
          content:
            text/plain:
              schema:
                type: string
                example: Healthy
  /commands/:
    get:
      summary: Get bot commands
      description: Returns the list of available bot commands in the specified format
      operationId: getCommands
      tags:
        - Commands
      parameters:
        - name: format
          in: query
          description: Output format for the commands documentation
          required: false
          schema:
            type: string
            enum:
              - markdown
              - simplemd
              - html
              - text
              - json
            default: markdown
      responses:
        '200':
          description: Commands documentation in the requested format
          content:
            text/markdown:
              schema:
                type: string
                example: "## Available Commands\n\n### help\n- **Description**: Shows help"
            text/html:
              schema:
                type: string
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Command'
  /stats/:
    get:
      summary: Get usage statistics
      description: Returns aggregate usage statistics (pull requests, commits, issues, and active repositories) for the installations the given user has access to
      operationId: getStats
      tags:
        - Stats
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          description: GitHub user ID to scope statistics to (via the user's assigned installations)
          schema:
            type: integer
      responses:
        '200':
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
        '400':
          description: Missing or invalid userId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Database not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Database unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jobs/{job}/:
    post:
      summary: Trigger a background job
      description: Fires a background processing job and returns immediately. The job runs asynchronously.
      operationId: triggerJob
      tags:
        - Jobs
      security:
        - ApiKeyAuth: []
      parameters:
        - name: job
          in: path
          required: true
          description: Name of the job to trigger
          schema:
            type: string
            enum:
              - branches
              - checkup
              - comments
              - installations
              - issues
              - pullRequests
              - pushes
              - repositories
              - users
      responses:
        '202':
          description: Job accepted and running in background
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAccepted'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pending-actions/:
    get:
      summary: List unread pending actions
      description: Returns pending actions (e.g. pull requests ready to merge) that have not yet been read, scoped to the installations the given user has access to
      operationId: getPendingActions
      tags:
        - Pending Actions
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          description: GitHub user ID to scope pending actions to (via the user's assigned installations)
          schema:
            type: integer
      responses:
        '200':
          description: List of unread pending actions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PendingAction'
        '400':
          description: Missing or invalid userId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Database not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Database unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pending-actions/{sequence}/read/:
    post:
      summary: Mark a pending action as read
      description: Flags a pending action as read so it stops showing up in the unread list
      operationId: markPendingActionRead
      tags:
        - Pending Actions
      security:
        - ApiKeyAuth: []
      parameters:
        - name: sequence
          in: path
          required: true
          description: Sequence identifier of the pending action
          schema:
            type: integer
      responses:
        '200':
          description: Pending action marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadAck'
        '400':
          description: Invalid sequence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Pending action not found or already read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notifications/:
    get:
      summary: List unread notifications
      description: Returns notifications that have not yet been read, scoped to the installations the given user has access to
      operationId: getNotifications
      tags:
        - Notifications
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          description: GitHub user ID to scope notifications to (via the user's assigned installations)
          schema:
            type: integer
      responses:
        '200':
          description: List of unread notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
        '400':
          description: Missing or invalid userId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Database not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Database unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notifications/{sequence}/read/:
    post:
      summary: Mark a notification as read
      description: Flags a notification as read so it stops showing up in the unread list
      operationId: markNotificationRead
      tags:
        - Notifications
      security:
        - ApiKeyAuth: []
      parameters:
        - name: sequence
          in: path
          required: true
          description: Sequence identifier of the notification
          schema:
            type: integer
      responses:
        '200':
          description: Notification marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadAck'
        '400':
          description: Invalid sequence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Notification not found or already read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /recent-activities/:
    get:
      summary: List recent activities
      description: Returns the most recent bot activity (merged PRs, closed issues, comments, pushes), scoped to the installations the given user has access to
      operationId: getRecentActivities
      tags:
        - Recent Activities
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          description: GitHub user ID to scope activities to (via the user's assigned installations)
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          description: Maximum number of activities to return (1-100)
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of recent activities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecentActivity'
        '400':
          description: Missing or invalid userId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /profile/:
    get:
      summary: Get profile
      description: Returns the signed-in user's editable profile fields
      operationId: getProfile
      tags:
        - Account
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Profile fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: Missing or invalid userId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update profile
      description: Updates the signed-in user's editable profile fields
      operationId: updateProfile
      tags:
        - Account
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Missing/invalid userId or email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /preferences/:
    get:
      summary: Get preferences
      description: Returns the signed-in user's UI preferences (theme, grouping)
      operationId: getPreferences
      tags:
        - Account
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferences'
    put:
      summary: Update preferences
      operationId: updatePreferences
      tags:
        - Account
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Preferences'
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /user-settings/:
    get:
      summary: Get bot behavior settings
      description: Returns the signed-in user's bot behavior toggles, applied across all of that user's installations
      operationId: getUserSettings
      tags:
        - Account
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Bot behavior settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
    put:
      summary: Update bot behavior settings
      operationId: updateUserSettings
      tags:
        - Account
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /integrations/:
    get:
      summary: List integrations
      description: Returns the signed-in user's configured third-party integrations, with API keys masked
      operationId: getIntegrations
      tags:
        - Integrations
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of integrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Integration'
    post:
      summary: Add or update an integration
      description: Encrypts and stores the API key for a provider
      operationId: saveIntegration
      tags:
        - Integrations
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - provider
                - apiKey
              properties:
                provider:
                  type: string
                apiKey:
                  type: string
      responses:
        '200':
          description: Integration saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Missing/invalid provider or API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /integrations/{provider}/:
    delete:
      summary: Remove an integration
      operationId: deleteIntegration
      tags:
        - Integrations
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Integration removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '404':
          description: Integration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login/:
    post:
      summary: Log in with email and password
      description: Returns `totp_required` if the account has 2FA enabled; the client must then call /auth/login/verify-totp/
      operationId: authLogin
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, totp_required]
                  userId:
                    type: integer
        '401':
          description: Invalid email or password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login/verify-totp/:
    post:
      summary: Verify a TOTP code to complete login
      operationId: authVerifyTotp
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, code]
              properties:
                userId:
                  type: integer
                code:
                  type: string
      responses:
        '200':
          description: Code accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '401':
          description: Invalid code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login/verify-recovery/:
    post:
      summary: Verify a recovery code to complete login (2FA fallback)
      operationId: authVerifyRecovery
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, code]
              properties:
                userId:
                  type: integer
                code:
                  type: string
      responses:
        '200':
          description: Code accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '401':
          description: Invalid or already-used recovery code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/password/:
    put:
      summary: Set or change the account password
      description: currentPassword is required only if a password is already set
      operationId: authSetPassword
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newPassword]
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
      responses:
        '200':
          description: Password updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '403':
          description: Current password is incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/totp/setup/:
    post:
      summary: Begin TOTP 2FA setup
      description: Generates a new secret (not yet enabled) and returns it plus an otpauth:// URI for QR code display
      operationId: authTotpSetup
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Secret generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                  otpauthUri:
                    type: string
  /auth/totp/enable/:
    post:
      summary: Confirm and enable TOTP 2FA
      operationId: authTotpEnable
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
      responses:
        '200':
          description: 2FA enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Invalid code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/totp/disable/:
    post:
      summary: Disable TOTP 2FA
      description: Accepts either a valid TOTP code or an unused recovery code
      operationId: authTotpDisable
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
      responses:
        '200':
          description: 2FA disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Invalid code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/totp/status/:
    get:
      summary: Get TOTP 2FA status
      operationId: authTotpStatus
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 2FA status
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
  /auth/recovery-codes/generate/:
    post:
      summary: Generate new recovery codes
      description: Invalidates any existing codes. The plaintext codes are returned once and never stored or shown again.
      operationId: authGenerateRecoveryCodes
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: New recovery codes
          content:
            application/json:
              schema:
                type: object
                properties:
                  codes:
                    type: array
                    items:
                      type: string
  /auth/password-reset/request/:
    post:
      summary: Request a password reset
      description: |
        Generates and stores a real, time-limited reset token. Always returns
        `status: ok` regardless of whether the email matches an account, to
        avoid leaking account existence. Email delivery is not yet
        implemented — `devResetToken` is a temporary field exposing the
        token directly and must be removed once a mail provider is wired up.
      operationId: authRequestPasswordReset
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
      responses:
        '200':
          description: Request accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  devResetToken:
                    type: string
                    description: Temporary - present only until real email delivery is implemented
  /auth/password-reset/verify/:
    post:
      summary: Complete a password reset
      operationId: authVerifyPasswordReset
      tags:
        - Auth
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token:
                  type: string
                newPassword:
                  type: string
      responses:
        '200':
          description: Password reset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
  schemas:
    Command:
      type: object
      required:
        - command
        - description
      properties:
        command:
          type: string
          description: The command name
          example: help
        description:
          type: string
          description: Description of what the command does
          example: Shows help information
        parameters:
          type: array
          description: List of parameters accepted by the command
          items:
            $ref: '#/components/schemas/CommandParameter'
        requiresPullRequestOpen:
          type: boolean
          description: Whether the command requires an open pull request
          default: false
        dev:
          type: boolean
          description: Whether this is a developer-only command
          default: false
    CommandParameter:
      type: object
      required:
        - parameter
        - description
      properties:
        parameter:
          type: string
          description: The parameter name
          example: repository
        description:
          type: string
          description: Description of the parameter
          example: The repository name
        required:
          type: boolean
          description: Whether the parameter is required
          default: false
    JobAccepted:
      type: object
      properties:
        status:
          type: string
          example: accepted
        job:
          type: string
          example: branches
    Error:
      type: object
      properties:
        error:
          type: string
          example: Unauthorized
    Stats:
      type: object
      properties:
        totalPullRequests:
          type: integer
          example: 31
        pullRequestsMerged:
          type: integer
          example: 22
        commitsAnalyzed:
          type: integer
          example: 81
        issuesClosed:
          type: integer
          example: 11
        averageTimeToMergeHours:
          type: number
          format: float
          example: 3
        activeRepositories:
          type: integer
          example: 6
    PendingAction:
      type: object
      properties:
        sequence:
          type: integer
          example: 42
        repositoryOwner:
          type: string
          example: guibranco
        repositoryName:
          type: string
          example: gstraccini-bot-service
        installationId:
          type: integer
          nullable: true
          example: 12345678
        actionType:
          type: string
          example: pull_request_ready_to_merge
        title:
          type: string
          example: Pull request ready for merge/squash
        description:
          type: string
          nullable: true
          example: "\"Add check-up job\" (#1120) is ready ✅ for merge/squash."
        url:
          type: string
          nullable: true
          example: https://github.com/guibranco/gstraccini-bot-service/pull/1120
        pullRequestId:
          type: integer
          nullable: true
        pullRequestNumber:
          type: integer
          nullable: true
          example: 1120
        pullRequestNodeId:
          type: string
          nullable: true
        isRead:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
    Notification:
      type: object
      properties:
        sequence:
          type: integer
          example: 42
        repositoryOwner:
          type: string
          example: guibranco
        repositoryName:
          type: string
          example: gstraccini-bot-service
        installationId:
          type: integer
          nullable: true
          example: 12345678
        type:
          type: string
          example: pull_request_ready_to_merge
        title:
          type: string
          example: Pull request ready for merge/squash
        message:
          type: string
          example: "\"Add check-up job\" (#1120) is ready ✅ for merge/squash."
        url:
          type: string
          nullable: true
          example: https://github.com/guibranco/gstraccini-bot-service/pull/1120
        pullRequestId:
          type: integer
          nullable: true
        pullRequestNumber:
          type: integer
          nullable: true
          example: 1120
        pullRequestNodeId:
          type: string
          nullable: true
        isRead:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
    ReadAck:
      type: object
      properties:
        status:
          type: string
          example: read
        sequence:
          type: integer
          example: 42
    StatusResponse:
      type: object
      properties:
        status:
          type: string
          example: updated
    RecentActivity:
      type: object
      properties:
        sequence:
          type: integer
        repositoryOwner:
          type: string
        repositoryName:
          type: string
        installationId:
          type: integer
          nullable: true
        actionType:
          type: string
          enum: [opened_pr, merged_pr, closed_issue, commented, pushed_commits]
        title:
          type: string
        url:
          type: string
          nullable: true
        pullRequestId:
          type: integer
          nullable: true
        pullRequestNumber:
          type: integer
          nullable: true
        pullRequestNodeId:
          type: string
          nullable: true
        issueId:
          type: integer
          nullable: true
        issueNumber:
          type: integer
          nullable: true
        issueNodeId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    Profile:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
    Preferences:
      type: object
      properties:
        theme:
          type: string
          enum: [light, dark, system]
        groupByOrganization:
          type: boolean
    UserSettings:
      type: object
      properties:
        createLabels:
          type: boolean
        notifyIssues:
          type: boolean
        requireAcceptanceCriteriaChecklist:
          type: boolean
        reminderIssues:
          type: boolean
        reminderIssuesDays:
          type: integer
          nullable: true
        prTemplateDescription:
          type: boolean
        autoReviewPr:
          type: boolean
        autoMergePr:
          type: boolean
        createIssue:
          type: boolean
        notifyPullRequests:
          type: boolean
    Integration:
      type: object
      properties:
        provider:
          type: string
        maskedApiKey:
          type: string
          nullable: true
        status:
          type: string
        lastUsedAt:
          type: string
          format: date-time
          nullable: true
        lastError:
          type: string
          nullable: true
