openapi: 3.0.3
info:
  title: GStraccini Bot API
  description: API for the GStraccini GitHub bot service
  version: __APP_VERSION__
  contact:
    name: Guilherme Branco Stracini
    email: guilherme@guilhermebranco.com.br
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.bot.straccini.com/v1
    description: API v1
tags:
  - name: Health
    description: Service health endpoints
  - name: Commands
    description: Bot commands documentation
  - name: Jobs
    description: Trigger background processing jobs
  - name: Stats
    description: Aggregate usage statistics
paths:
  /health/:
    get:
      summary: Health check
      description: Returns the health status of the service
      operationId: getHealth
      tags:
        - Health
      responses:
        '200':
          description: Service is healthy
          content:
            text/plain:
              schema:
                type: string
                example: Healthy
  /commands/:
    get:
      summary: Get bot commands
      description: Returns the list of available bot commands in the specified format
      operationId: getCommands
      tags:
        - Commands
      parameters:
        - name: format
          in: query
          description: Output format for the commands documentation
          required: false
          schema:
            type: string
            enum:
              - markdown
              - simplemd
              - html
              - text
              - json
            default: markdown
      responses:
        '200':
          description: Commands documentation in the requested format
          content:
            text/markdown:
              schema:
                type: string
                example: "## Available Commands\n\n### help\n- **Description**: Shows help"
            text/html:
              schema:
                type: string
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Command'
  /stats/:
    get:
      summary: Get usage statistics
      description: Returns aggregate usage statistics for the bot (pull requests, commits, issues, and active repositories)
      operationId: getStats
      tags:
        - Stats
      responses:
        '200':
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Database not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Database unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jobs/{job}/:
    post:
      summary: Trigger a background job
      description: Fires a background processing job and returns immediately. The job runs asynchronously.
      operationId: triggerJob
      tags:
        - Jobs
      security:
        - ApiKeyAuth: []
      parameters:
        - name: job
          in: path
          required: true
          description: Name of the job to trigger
          schema:
            type: string
            enum:
              - branches
              - comments
              - issues
              - pullRequests
              - pushes
              - repositories
      responses:
        '202':
          description: Job accepted and running in background
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAccepted'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
  schemas:
    Command:
      type: object
      required:
        - command
        - description
      properties:
        command:
          type: string
          description: The command name
          example: help
        description:
          type: string
          description: Description of what the command does
          example: Shows help information
        parameters:
          type: array
          description: List of parameters accepted by the command
          items:
            $ref: '#/components/schemas/CommandParameter'
        requiresPullRequestOpen:
          type: boolean
          description: Whether the command requires an open pull request
          default: false
        dev:
          type: boolean
          description: Whether this is a developer-only command
          default: false
    CommandParameter:
      type: object
      required:
        - parameter
        - description
      properties:
        parameter:
          type: string
          description: The parameter name
          example: repository
        description:
          type: string
          description: Description of the parameter
          example: The repository name
        required:
          type: boolean
          description: Whether the parameter is required
          default: false
    JobAccepted:
      type: object
      properties:
        status:
          type: string
          example: accepted
        job:
          type: string
          example: branches
    Error:
      type: object
      properties:
        error:
          type: string
          example: Unauthorized
    Stats:
      type: object
      properties:
        totalPullRequests:
          type: integer
          example: 31
        pullRequestsMerged:
          type: integer
          example: 22
        commitsAnalyzed:
          type: integer
          example: 81
        issuesClosed:
          type: integer
          example: 11
        averageTimeToMergeHours:
          type: number
          format: float
          example: 3
        activeRepositories:
          type: integer
          example: 6
